rs.initiate();
sleep(200);

{% if groups['mongo_nodes'] is defined %}
{% for host in groups['mongo_nodes'] %}
rs.add("{{ hostvars['mongo_nodes'].ansible_host}}");
sleep(200);
{% endfor %}
{% endif %}
printjson(rs.status());
