[Unit]
Description=Apache Tomcat Web Application Container
After=network.target

[Service]
Type=forking

Environment=JAVA_HOME={{java_home}}
Environment=CATALINA_PID={{tomcat_catalina_home}}/temp/tomcat.pid
Environment=CATALINA_HOME={{tomcat_catalina_home}}
Environment=CATALINA_BASE={{tomcat_catalina_home}}
Environment='CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart={{tomcat_catalina_home}}/bin/startup.sh
ExecStop={{tomcat_catalina_home}}/bin/shutdown.sh

User={{tomcat_username}}
Group={{tomcat_group}}
UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
