---
# handlers file for apache2
- name: start apache
  service:
    name: "{{ apache_service }}"
    state: "{{ apache_state }}"

- name: restart apache
  service:
    name: "{{ apache_service }}"
    state: "{{ apache_restart_state }}"
