[Unit]
Description=Prometheus rabbitmq_exporter
After=local-fs.target network-online.target network.target
Wants=local-fs.target network-online.target network.target

[Service]
User=rabbitmq
Nice=10
ExecStart = {{rabbitmq_exporter_execute_dir}}/rabbitmq_exporter
ExecStop= usr/bin/killall rabbitmq_exporter

[Install]
WantedBy=default.target
