---
# tasks file for certbot
- import_tasks: install.yml

- include_tasks: create-cert-standalone.yml
  with_items: "{{ certbot_certs }}"
  when:
    - certbot_create_if_missing
    - certbot_create_method == 'standalone'
  loop_control:
    loop_var: cert_item

- import_tasks: renew.yml
  when: certbot_auto_renew
