[Unit]
Description=Prometheus redis_exporter
After=local-fs.target network-online.target network.target
Wants=local-fs.target network-online.target network.target

[Service]
User={{redis_user}}
Nice=10
ExecStart = {{redis_exporter_execute_dir}}/redis_exporter
ExecStop= /usr/bin/killall redis_exporter
Restart=always

[Install]
WantedBy=default.target
