<VirtualHost *:{{ apache_listen_port }}>
    ServerAdmin webmaster@{{ item.server_name }}
    ServerName {{ item.server_name }}
    ServerAlias www.{{ item.server_name }}
    DocumentRoot {{ item.root_path }}
    ErrorLog {{APACHE_LOG_DIR}}/error.log
    CustomLog {{APACHE_LOG_DIR}}/access.log combined
</VirtualHost>
