# my global config.
global:
  scrape_interval:     15s
  evaluation_interval: 15s

# Alertmanager configuration.
alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - localhost:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
   - "rules.yml"
  # - "second.rules"

# A scrape configuration containing exactly one endpoint to scrape.
# Here it's Prometheus itself.
scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 15s
    static_configs:
      - targets: ['localhost:9090']

# Here it's Prometheus node_exporter.
#  - job_name: 'node'
#    scrape_interval: 15s
#    static_configs:
#      - targets: ['localhost:9100']

# Here it's Prometheus elasticsearch_exporter.
#  - job_name: 'elasticsearch'
#    metrics_path: '/metrics'
#    scrape_interval: 15s
#    static_configs:
#      - targets: ['localhost:9114']

# Here it's Prometheus rabbitmq_exporter.
#  - job_name: 'rabbitmq'
#    scrape_interval: 15s
#    static_configs:
#      - targets: ['localhost:9090']

# Here it's Prometheus redis_exporter.
#  - job_name: 'redis_exporter'
#    scrape_interval: 15s
#    static_configs:
#      - targets: ['localhost:9121']
